*{
    MARGIN:0;
    font-family: Arial;
    border: border-box;
}

.nav-logo{
    height:50px;
    width:100px;
}
.navbar{
    height:60px;
    background-color: red;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    background-image: url("");
    background-size:cover;
    height:80px;
    width: 90px;
}
.border{
    border:1.5px solid transparent;
    
}
.border:hover{
    border:1.5px solid white;
}

.add-first{
    font-size: 0.85rem;
    font-family: Arial;
    color:white;
    margin-left:15px;

}

.add-second{
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial;
    color:white;
    margin-left:3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color:pink ;
    width:620px;
    height:40px;
    border-radius:3px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align:center;
    border-bottom-left-radius:3px ;
    border-top-left-radius:3px ;
    border:none;
    margin-right: 0.9px;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border:none;
}
.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(242, 212, 13);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}
.signin{
    font-size: 0.9rem;
    font-family: Arial;
    color:white;
    margin-left:15px;
}
.cart-icon{
    display: flex;
    align-items: center;
    font-size: 30px;
}
.cart-first{
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial;
    color:white;
    margin-left:3px;
}
.panel{
    height:45px;
    background-color: rgb(50, 13, 211);
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
   
}
.panel-ops p{
    display: inline;
    align-items: center;
    font-size: 17px;
    margin-left:30px;
    margin-right: 55px;
}
.panel-ops p:hover{
    color:yellow;
    opacity:1;
    transition: opacity 0.12s;

}
.panel-ops p:active{
    opacity:1;
}

.panel-ops{
    width:62%;
}
.panel-icon{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left:  20px;
    margin-right: 15px;
}
.hero-section{
    background-image: url("Untitled design (3).png");
    background-size: cover;
    height: 500px;
    margin-left: 10PX;
    margin-right: 10px;

}
.hero-msg{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    color: black;
}
/** shop-section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(141, 193, 238);
}
.box{
   
    height: 400px;
    width:23%;
    background-color: rgb(242, 244, 246);
    padding: 5px;
    padding-left: 3px;
    padding-bottom: 2PX;
    padding-right: 3px;
    margin-top: 10px;
    border-radius: 5px;
}
.box:hover{
    color: rgb(251, 103, 35);
    opacity: 1;
    transition: opacity 0.15s;
}
.box:active{
    opacity: 1;
}
.box-image{
    HEIGHT: 350px;
    background-size: cover;
    
}

.box-image:hover{
    opacity: 1;
    transition: opacity 0.15s;
}
.box-image:active{
    opacity: 1;
}
.box-content{
    margin-left: 10px;
}
    
